.corner-div {
    width: 100px;
    height: 100px;
    position: absolute;
}
.top-left {
    top: 0;
    left: 0;
    background-color: red;
}
.top-right {
    top: 0;
    right: 0;
    background-color: blue;
}
.bottom-left {
    bottom: 0;
    left: 0;
    background-color: green;
}
.bottom-right {
    bottom: 0;
    right: 0;
    background-color: yellow;
}