/* :link - ლინკზე გადასვლამდე ლინკის სტილი */
/* :hover - ლინკზე მაუსის მიტანისას ლინკის სტილი */
/* :active - ლინკზე დაჭერისას (თვითონ დაჭერის პროცესისას) ლინკის სტილი */
/* :visited - ლინკზე გადასვლის შემდეგ ლინკის სტილი */


a:link {
    color: red;
  }
  
  a:visited {
    color: green;
  }
  
  a:hover {
    color: hotpink;
  }
  
  a:active {
    color: blue;
  }