@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
h3 {
    text-shadow: 4px 0px 4px rgba(0, 0, 0, 0.7); 
    text-align: center;
    text-decoration: overline;
}
h2 {
    text-transform: uppercase;
    text-decoration: underline;
    text-wrap: wrap;
}


body{
    font-family: "Rubik Glitch", serif;
    font-weight: 400;
    font-style: normal;
  }